* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

#home {
  background: url(../images/shouye.jpg) no-repeat;
  background-size: cover !important;
  background-attachment: fixed !important;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: table;
  color: #010101;
  z-index: 10;
  padding: 0;
}

/* 半透明黑色幕布 */
#home .img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#home img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home i {
  color: white;
  font-size: 84px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

/*------------------- 头部-------------------------- */
nav {
  position: relative;
  top: 0;
  background-color: #0082e6;
  height: 80px;
  width: 100%;
  z-index: 1000;
}

nav .logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
  line-height: 80px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 5px 7px;
  border-radius: 3px;
  text-decoration: none;
}

a.active,
a:hover {
  transition: .5s;
  text-decoration: none;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}




/*--------------------------  关于----------------------- */
#about {
  padding: 60px 0 0;
}

#about .about-top h1 {
  display: inline-block;
  box-shadow: 0 0 0 3px #428bca;
  background-color: #428bca;
  color: white;
  line-height: 1;
  margin: 0 auto 20px;
  padding: 10px;
  border: 4px solid #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
}

#about .about-top p {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: lighter;
  text-transform: uppercase;
  color: #000;
}

#about .about-center {
  margin: 80px 0;
  background: rgb(246, 246, 246);
}

#about .about-center h2,
#about .about-center h4 {
  text-align: center;
}

#about .about-center h2 {
  color: #428bca;
  font-size: 36px;
  margin-bottom: 50px;
}

#about .about-center .item {
  border-radius: 3px;
  background: #ffd600;
  width: 210px;
  padding: 25px 45px;
  margin: 0 auto;
  /* position: relative; */
  background-color: #428bca;
  text-align: center;
}

#about .about-center .item i {
  font-size: 84px;
  color: white;
}

#about .about-center .col-md-4 h3,
#about .about-center .col-md-4 p {
  text-align: center;
}

#about .about-center .col-md-4 p {
  padding: 0 40px;
}

#about .about-center .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#about .about-bottom h2 {
  font-size: 36px;
  text-align: center;
}

#about .about-bottom .item {
  text-align: center;
}

#about .about-bottom .item span {
  font-size: 80px;
  line-height: 1.2;
  padding: 0;
  margin-bottom: 20px;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -.02em;
  color: #428bca;
}

#about .about-bottom .item h6 {
  font-size: 14px;
}


#about .about-banner {
  background: url(../images/director.jpg);
  background-size: cover;
  height: 479px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0;
}

#about .about-banner p {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  z-index: 200;
  margin: 0 5%;
}



/*-------------------- team --------------------*/

#team {
  padding: 60px 0;
}

#team .team-top h1 {
  display: inline-block;
  box-shadow: 0 0 0 3px #428bca;
  background-color: #428bca;
  color: white;
  line-height: 1;
  margin: 0 auto 20px;
  padding: 10px;
  border: 4px solid #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
}

#team .team-top p {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: lighter;
  text-transform: uppercase;
  color: #000;
  padding: 0 100px;
}

#team .team-center {
  margin: 80px 0;
  background: rgb(246, 246, 246);
}

#team .team-center h2,
#team .team-center h4 {
  text-align: center;
}

#team .team-center h2 {
  color: #428bca;
  font-size: 36px;
  margin-bottom: 50px;
}

#team .team-center .item {
  border-radius: 3px;
  background: #ffd600;
  width: 100%;
  margin: 0;
  /* position: relative; */
  background-color: #428bca;
  text-align: center;
}

#team .team-center .item img {
  width: 100%;
}

#team .team-center .item-desc {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  margin-left: -1px;
  border: 1px solid #e8e8e8;
  border-top: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  background: #fff;
}

#team .team-center .item-desc:hover {
  background-color: #428bca;
  color: white;
}

#team .team-center .col-md-4 h3,
#team .team-center .col-md-4 p {
  text-align: center;
}

#team .team-center .col-md-4 p {
  padding: 0 40px;
}

#team .team-center .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#team .team-bottom h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 100px;
}

#team .team-banner {
  background: url(../images/Testimonials.jpg);
  height: 649px;
  background-size: cover;
  position: relative;
}

#team .team-banner h2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  z-index: 200;
}

#team .team-banner p {
  position: absolute;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 50%;
  font-size: 16px;
}

/*------------------- works--------------------- */
#works {
  padding: 0 0 60px;
}

#works .works-top h1 {
  display: inline-block;
  box-shadow: 0 0 0 3px #428bca;
  background-color: #428bca;
  color: white;
  line-height: 1;
  margin: 0 auto 20px;
  padding: 10px;
  border: 4px solid #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
}

#works .works-top p {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: lighter;
  text-transform: uppercase;
  color: #000;
}

#works .works-top ul {
  text-align: center;
  margin-top: 80px;
}

#works .works-top ul li {
  display: inline-block;
  border: 2px solid black;
  padding: 2px 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
}

#works .works-pic {
  display: flex;
  /* 强制换行 */
  flex-wrap: wrap;

}

#works .works-pic .filtr-item {
  display: inline-block;
  width: 20%;
  margin: 0;
  overflow: hidden;
  position: relative;
}


#works .works-pic .filtr-item:hover img {
  transform: scale(1.4);
}

#works .works-pic .filtr-item .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
}


#works .works-pic .filtr-item .text p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  color: white;
  font-size: 22px;
  transition: 0.5s;
  transform: scale(0);
}

#works .works-pic .filtr-item:hover .text {
  opacity: 1;
}

#works .works-pic .filtr-item:hover .text p {
  transform: scale(1);
}

#works .works-pic .filtr-item img {
  transition: transform 0.5s;
  width: 100%;
}

#works .works-banner {
  margin-top: 50px;
  background: url(../images/editing_room.jpg);
  height: 524px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#works .works-banner h1 {
  text-align: center;
  color: white;
  font-size: 45px;
}

#works .jq22 {
  width: 100%;
  overflow: hidden;
}

#works ul li {
  cursor: pointer;
}

#works .active {
  color: #fff;
  background-color: #21b384;
}

/* -------------------------news--------------------- */
#news {
  padding: 0 0 60px;
}

#news .news-top h1 {
  display: inline-block;
  box-shadow: 0 0 0 3px #428bca;
  background-color: #428bca;
  color: white;
  line-height: 1;
  margin: 0 auto 20px;
  padding: 10px;
  border: 4px solid #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
}

#news .news-top p {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: lighter;
  text-transform: uppercase;
  color: #000;
}

#news .news-center {
  margin: 80px 0 0;
  background: rgb(246, 246, 246);
  padding: 50px;
}

#news .news-center .item-desc {
  line-height: 24px;
  text-align: center;
  font-size: 18px;
}

#news .news-bottom h3 {
  text-align: center;
  margin: 50px 0;
}

#news .news-banner {
  background: url(../images/meitiziyuan.jpg);
  height: 479px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#news .news-banner h1 {
  text-align: center;
  color: white;
  font-size: 45px;
}

/* -----------footer------------ */
footer {
  background-color: #428bca;
  height: 100px;
}

footer h1 {
  text-align: center;
  line-height: 100px;
  color: white;
}


/*-------------------- 媒体查询 --------------------------*/

@media (max-width:960px) {

  /* 主页 */
  #home {
    background-position: center;
  }

  #zh_header .container {
    padding-left: 35px;
  }

  .logo {
    font-size: 30px;
  }

  .checkbtn {
    display: block;
    margin-right: 20px;
  }

  #zh_header nav .slide {
    height: 450px;
  }

  #zh_header nav ul {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #2c3e50;
    top: 80px;
    left: 0;
    overflow: hidden;
    transition: all .5s;
    margin-right: 0;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    text-align: center;
  }

  nav ul li a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    background: none;
    color: #0082e6;
  }

  /* about */
  #about .about-top h1 {
    font-size: 60px;
  }

  #about .about-top p {
    font-size: 25px;
  }

  #about .about-center h2 {
    font-size: 30px;
  }

  #about .about-center .col-md-4 p {
    font-size: 18px;
  }

  #about .about-bottom h2 {
    font-size: 30px;
  }

  #about .about-bottom .item span {
    font-size: 50px;
  }

  #about .about-banner p {
    font-size: 25px;
  }

  /* team */
  #team .team-top h1 {
    font-size: 60px;
  }

  #team .team-top p {
    font-size: 25px;
    padding: 0;
  }

  #team .team-center h2 {
    font-size: 30px;
  }

  #team .team-center .item-desc {
    font-size: 30px;
  }

  #team .team-bottom h2 {
    font-size: 25px;
  }

  #team .team-banner {
    height: 400px;
  }

  #team .team-banner h2 {
    font-size: 40px;
    top: 10%;
  }

  #team .team-banner p {
    top: 40%;
    width: 100%;
    font-size: 20px;
  }

  /* works */
  #works .works-top h1 {
    font-size: 60px;
  }

  #works .works-top p {
    font-size: 25px;
  }

  #works .works-pic .filtr-item {
    width: 33.3%;
  }

  #works .works-banner h1 {
    font-size: 35px;
    padding: 0 10px;
  }

  /* news */
  #news .news-top h1 {
    font-size: 60px;
  }

  #news .news-top p {
    font-size: 25px;
  }

  #news .news-center .item-desc {
    font-size: 20px;
  }

  #news .news-banner h1 {
    font-size: 25px;
    padding: 0 10px;
  }
}

@media (max-width:750px) {
  #home img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  #home i {
    font-size: 50px;
  }

  #zh_header .logo {
    font-size: 20px;
  }

  #zh_header .checkbtn {
    margin-right: 20px;
  }

  /* about */
  #about .about-top h1 {
    font-size: 40px;
  }

  #about .about-top p {
    font-size: 20px;
  }

  #about .about-center h2 {
    font-size: 30px;
  }

  #about .about-bottom h2 {
    font-size: 30px;
  }

  #about .about-bottom .item span {
    font-size: 30px;
  }

  #about .about-banner p {
    font-size: 25px;
  }

  /* team */
  #team .team-top h1 {
    font-size: 40px;
  }

  #team .team-top p {
    font-size: 20px;
    padding: 0;
  }

  #team .team-center h2 {
    font-size: 30px;
  }

  #team .team-center .item-desc {
    font-size: 14px;
  }

  #team .team-bottom h2 {
    font-size: 20px;
  }

  #team .team-banner {
    height: 400px;
  }

  #team .team-banner h2 {
    font-size: 30px;
    top: 10%;
  }

  #team .team-banner p {
    top: 40%;
    font-size: 16px;
    width: 100%;
  }

  /* works */
  #works .works-top h1 {
    font-size: 40px;
  }

  #works .works-top p {
    font-size: 20px;
  }

  #works .works-pic .filtr-item {
    width: 50%;
  }

  #works .works-banner h1 {
    font-size: 25px;
    padding: 0 10px;
  }

  /* news */
  #news .news-top h1 {
    font-size: 40px;
  }

  #news .news-top p {
    font-size: 20px;
  }

  #news .news-center .item-desc {
    font-size: 14px;
  }

  #news .news-banner h1 {
    font-size: 25px;
    padding: 0 10px;
  }
}